:root {
  --color-dark: #4d4d4d;
  --color-light: #808080;
  --color-accent: #5d71dd;
}

body {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.time-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
  border-radius: 30px;
  width: 796px;
  height: 300px;
  padding: 75px 86px;
}

.time-count__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: var(--color-dark);
}

.time-count__content {
  display: flex;
  justify-content: center;
}

.time-count__item {
  text-align: center;
}

.time-count__val {
  min-width: 81px;
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  color: var(--color-accent);
}

.time-count__separator {
  font-weight: 700;
  font-size: 48px;
  line-height: 74px;
  text-align: center;
  color: var(--color-accent);
  margin: 0 33px;
}

.time-count__text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
}

<style>
@media (max-width: 480px) { /* Медиазапрос для мобильных устройств с шириной экрана до 480px */
  .time-count {
    width: 100%;
    height: auto;
    padding: 30px;
  }

  .time-count__title {
    font-size: 28px;
    line-height: 34px;
  }

  .time-count__content {
    flex-wrap: wrap;
  }

  .time-count__item {
    flex-basis: 50%;
    margin-bottom: 15px;
  }

  .time-count__separator {
    font-size: 36px;
    line-height: 50px;
    margin: 0 10px;
  }

  .time-count__val {
    font-size: 50px;
    line-height: 60px;
  }
}
</style>
